

body{
    background-image: url(logo123.jpg);
    background-size: cover;
}

.navbar-header 
{
    
    font-size: 25px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    word-spacing: 30px;
}

.b1 /* menus */
{

    font-weight: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    color:rgb(0, 0, 0);
}
u{ /* bikezone*/
    
    font-weight: bolder;
    font-size:50px;
    color:rgb(255, 255, 255);
    letter-spacing: 3px;
}
.p1
{
    color:rgb(255, 255, 255);
    font-weight: bolder;
}



.container1
{
   
    font-size: 30px;
    padding-left: 20px;
    
}

.container2
{
    padding-top: 10%;
    animation: animate 4s linear infinite;
    float: right;
}

@keyframes animate /*blinking*/
{
    0%
    {
        opacity: 0;
    }

    50%
    {
        opacity: 0.7;
    }

    100%
    {
        opacity: 1;
    }
}

.header
{
    
    height: 19vh;

}
.navbar-style
{
    box-shadow: 0 7px 10px #000000;
    text-transform: uppercase;
}
.logo
{

    height: 50px;
    
   animation-name: blink;
   animation-duration: .7s;
   animation-timing-function: step-end;
   animation-iteration-count: infinite;
   animation-direction: alternate;
    height: 48px;
    padding: 2px 10px;
}
@keyframes blink
{
    50%
    {
        border-color: #ffffff;
    }
}



.col-sm-6
{
    
    text-shadow:0 1px 10px #d0c8c8;
    padding: 0%;
    padding-left: 0%;
    color: rgb(0, 0, 0);
}





.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);

    opacity: 0.9;
  }
  .login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
  }
  .login-form .content {
    padding: 35px;
    text-align: center;
  }
  .login-form .input-field {
    padding: 12px 5px;
  }
  .login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  .login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input::placeholder {
    text-transform: uppercase;
  }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .login-form .action button:hover {
    background: #d8d8d8;
  }
  .login-form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  .login-form .action button:nth-child(2):hover {
    background: #3c4d6d;
  }

  /**/

  .immm
  {
    overflow: hidden;
  }
  .banner1,.banner2,.banner3
  {
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

  }
  .imm
  {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

  }

  .banner1
  {
    animation: slide1 3s linear infinite;
  }

  .banner2
  {
    animation: slide2 6s linear infinite;
  }

  .banner3
  {
    animation: slide3 9s linear infinite;
  }

  @keyframes slide1
  {
    0%{
      visibility: visible;
    }
    25%{
      visibility: visible;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: visible;
    }
  }

  @keyframes slide2
  {
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: visible;
    }
    75%{
      visibility: hidden;
    }
    100%{
      visibility: hidden;
    }
  }

  @keyframes slide1
  {
    0%{
      visibility: hidden;
    }
    25%{
      visibility: hidden;
    }
    50%{
      visibility: hidden;
    }
    75%{
      visibility: visible;
    }
    100%{
      visibility: visible;
    }
  }




